:host {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-top: black solid 15px;
    border-bottom: black solid 15px;
    border-left: black solid 8px;
    border-right: black solid 8px;
    width: 80vw;
    height: 70vh;
    overflow-y: scroll;
    .heading {
        display: flex;
        gap: 50px;
        border-bottom: 40px;
        mat-icon {
            transform: scale(2.5);
        }
    }
    .watchers-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .watcher-details-heading {
        display: flex;
        justify-content: left;
        align-items: top;
        margin-top: 10px;
    }
    mat-icon {
        transform: scale(1.8);
        padding-right: 5px;
    }
}