// colors
$color-background-light: gainsboro;
$color-background-dark: silver;

$color-season-winter: deepskyblue;
$color-season-spring: green;
$color-season-summer: yellow;
$color-season-autumn: cornflowerblue;

$color-countdown-red: red



